<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.example.spring.jdbc.mapper"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/CityMapper.xml"/>
        <mapper resource="mybatis/UserMapper.xml"/>
        <mapper resource="mybatis/HotelMapper.xml"/>
    </mappers>
</configuration>